<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="https://www.pngitem.com/pimgs/m/232-2324720_ratatouille-png-transparent-ratatouille-clipart-png-download.png" alt="Descrição da imagem" style="wight: 30px; height:30px">
      La Receita
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">detalhes</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="chevron-up-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">

    <ion-fab-button href="/home">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
    
    <ion-fab-button href="/adicionar">
      <ion-icon name="add-outline"></ion-icon> 
    </ion-fab-button>
    
  </ion-fab-list>
</ion-fab>